{
    "MonitoringHost":  "monitoring.hosting-global-it-ss.com",
    "CrmHost":  "crm.hosting-global-it-ss.com",
    "SmtpUser":  "admin@gsms-security.com",
    "SshUser":  "root",
    "GsmsDir":  "/opt/gsms",
    "ServerIp":  "187.77.166.124",
    "SmtpPort":  "465",
    "SshKey":  "C:\\Users\\samir\\.ssh\\id_ed25519",
    "SmtpHost":  "smtp.hostinger.com",
    "SshHost":  "187.77.166.124",
    "AppRoot":  "/opt/gsms-school",
    "TraefikContainerName":  null,
    "Domain":  "hosting-global-it-ss.com",
    "ExternalTraefik":  false,
    "NetdataHost":  "netdata.hosting-global-it-ss.com",
    "PortainerHost":  "portainer.hosting-global-it-ss.com",
    "UptimeHost":  "uptime.hosting-global-it-ss.com",
    "N8nHost":  "n8n-k2pw.srv1722028.hstgr.cloud",
    "OpenWebuiHost":  "open-webui-lt10.srv1722028.hstgr.cloud",
    "DocsHost":  "docs.hosting-global-it-ss.com",
    "TraefikDynamicDir":  null,
    "ProjectName":  "GSMS",
    "Scheme":  "https",
    "SmtpSecure":  "true"
}
