{
  "MonitoringHost": "monitoring.example.com",
  "CrmHost": "app.example.com",
  "SmtpUser": "noreply@example.com",
  "SshUser": "root",
  "GsmsDir": "/opt/gsms",
  "ServerIp": "your.vps.ip",
  "SmtpPort": "465",
  "SshKey": "C:\\Users\\you\\.ssh\\id_ed25519",
  "SmtpHost": "smtp.example.com",
  "SshHost": "your.vps.ip.or.hostname",
  "AppRoot": "/opt/gsms-school",
  "TraefikContainerName": null,
  "Domain": "app.example.com",
  "ExternalTraefik": false,
  "NetdataHost": "netdata.example.com",
  "PortainerHost": "portainer.example.com",
  "UptimeHost": "uptime.example.com",
  "N8nHost": "n8n.example.com",
  "OpenWebuiHost": "open-webui.example.com",
  "DocsHost": "docs.example.com",
  "TraefikDynamicDir": null,
  "ProjectName": "FORMSSI",
  "Scheme": "https",
  "SmtpSecure": "true"
}
